{%extends 'base/base.html' %}

{% block content %}
    <div>
        <h2>Daily poll manager</h2>
        <form method="POST" action="{% url 'manage_dailypolls' %}">
            {% csrf_token %}
            <label for="day_to_manage">Day to manage:</label>
            <input type="date" name="day_to_manage" value   ="{{day_to_manage}}">
            <input type="submit" value="Update">
        </form>
    </div>

    <div>
        <h2>Daily poll name and options</h2>
        <table style="width:100%">
            <tr>
                <td>
                    Poll
                </td>
                <td>
                    <table style="width:100%">
                        <tr>
                            <form id="poll-update">
                                <input type="hidden" name="id" value="{{managing_poll.id}}">
                                <input type="hidden" name="day" value="{{day_to_manage}}">
                                <td>
                                    <input type="text" name="name" value="{{managing_poll.name}}">
                                </td>
                                <td>
                                    <input type="submit" value="Update poll">
                                </td>
                            </form>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
              <td>Options</td>
              <td>
                <table style="width:100%">
                    {% for option in options %}
                        <tr>
                        <td>{{option.option}}</td>
                        <td>
                            <div class="delete-button" action= "{% url 'options_retrieveupdatedestroy'  option.id %}" >
                                Delete
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <form id="option-create">
                            <input type="hidden" name="poll" value="{{managing_poll.id}}">
                            <td>
                                <input type="text" name="option" >
                            </td>
                            <td>
                                <input type="submit" value="Create option">
                            </td>
                        </form>
                    </tr>
                </table>
              </td>
             </tr>
          </table>

        <form id = 'send_poll'>
            {% csrf_token %}
            <input type="hidden" name="poll_to_send" value   ="{{ managing_poll.id }}">
            <input type="submit" value="Send poll to all voters">
        </form>
    </div>


    <div>
        <h2>Poll resume</h2>
        <table style="width:100%">
            <tr>
                <th>Voters names</th>
                <th>Choices</th>
                <th>Comments</th>
            </tr>
            {% for vote in votes %}
                <tr>
                <td>{{vote.voter.name}}</td>
                <td>{{vote.choice}}</td>
                <td>{{vote.comments}}</td>
                </tr>
            {% endfor %}
          </table>
    </div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    </script>
    <script language="javascript">
        $(document).ready(function() {
            $("#poll-update").submit(function(e) {
                e.preventDefault();
                var form = $("#poll-update");
                var dataString = getFormData(form);
                $.ajax({
                    type: "PUT",
                    url: "{% url 'dailypoll_retrieveupdatedestroy'  managing_poll.id %}",
                    data: dataString,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(msg) {
                        $("#ratesucess").html("working");
                        console.log('working: ');
                        location.reload();
                    },
                    error: function(msg) {
                        $("#ratesucess").html("not working ");
                        console.error('not working');
                        console.log(msg)
                    }
                });
            });

            $("#option-create").submit(function(e) {
                e.preventDefault();
                var form = $("#option-create");
                var dataString = getFormData(form);
                console.log(dataString);
                $.ajax({
                    type: "POST",
                    url: "{% url 'options_list' %}",
                    data: dataString,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(msg) {
                        $("#ratesucess").html("working");
                        console.log('working: ');
                        console.log(msg)
                        location.reload();
                    },
                    error: function(msg) {
                        $("#ratesucess").html("not working ");
                        console.error('not working');
                        console.log(msg)
                    }
                });
            });

            $("#send_poll").submit(function(e) {
                e.preventDefault();
                var form = $("#send_poll");
                var dataString = getFormData(form);
                console.log(dataString);
                $.ajax({
                    type: "POST",
                    url: "{% url 'send_poll' %}",
                    data: dataString,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(msg) {
                        $("#ratesucess").html("working");
                        console.log('working: ');
                        console.log(msg)
                        location.reload();
                    },
                    error: function(msg) {
                        $("#ratesucess").html("not working ");
                        console.error('not working');
                        console.log(msg)
                    }
                });
            });


            $(".delete-button").on('click', function(event){
                var endpoint = $(this).attr('action');
                $.ajax({
                    type: "DELETE",
                    url: endpoint,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(msg) {
                        $("#ratesucess").html("working");
                        console.log('working: ');
                        location.reload();
                    },
                    error: function(msg) {
                        $("#ratesucess").html("not working ");
                        console.error('not working');
                        console.log(msg)
                    }
                });
            });
        })
    </script>
{% endblock %}
