{%extends 'base/base.html' %}

{% block content %}
    <div>
        <h2>Online vote</h2>
        <form method="POST" action="{% url 'vote_poll' voter.uuid dailypoll.id %}">
            {% csrf_token %}

            <table style="width:100%">
                <tr>
                    <td>
                        Poll Name
                    </td>
                    <td>
                        {{dailypoll.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Poll Date
                    </td>
                    <td>
                        {{dailypoll.day}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Voter Name
                    </td>
                    <td>
                        {{voter.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Choices (choose only one)
                    </td>
                    <td>
                        {% for option in options %}
                            {% if option.id == vote.choice %}
                                <input type="radio" name="choice" value="{{option.id}}" checked> {{option.option}} <br>
                            {% else %}
                                <input type="radio" name="choice" value="{{option.id}}" > {{option.option}} <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Comments
                    </td>
                    <td>
                        <input type="text" name="comments" value="{{vote.comments}}">
                    </td>
                </tr>
            </table>
        {%if can_vote %}
            <input type="submit" value="Vote">
        {% else %}
            <div>
                "Too late to choose sorry, try tomorrow prior to 11:00AM CL"
            </div>
        {% endif %}
        </form>
    </div>
{% endblock %}
