{%extends 'base/base.html' %}

{% block content %}
    <div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}

        {{ form.errors }}

        <input type="submit" value="Login">
    </form>
    </div>
{% endblock %}
